@font-face {
  font-family: Gobold;
  src: url("../font/Gobold/Gobold Regular.otf");
}

div {
  font-family: Gobold;
}

/* * {
  margin: 0;
  padding: 0;
  border: 0;
} */

@keyframes slide {
  from {
    left: 100%;
    transform: translate(0, 0);
  }
  to {
    left: -70%;
    transform: translate(-70%, 0);
  }
}
@-webkit-keyframes slide {
  from {
    left: 100%;
    transform: translate(0, 0);
  }
  to {
    left: -70%;
    transform: translate(-70%, 0);
  }
}

.marquee {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  border-color: #009b04;
  border-width: 5px;
  border-style: solid;
  width: 100%;
  height: 120px;
  line-height: 120px;
  overflow: hidden;
  position: relative;
}

.text {
  vertical-align: middle;
  position: absolute;
  top: 0;
  white-space: nowrap;
  height: 120px;
  font-size: 80px;
  animation-name: slide;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
