body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    color: #000;
}

#edit-area {
    background-color: #ff9933;
    min-width: 850px;
}

#edit-area * {
    vertical-align: middle;
}

#input-area {
    height: 300px;
    overflow-y: auto;
}

#output-area {
    background-color: #bbee55;
    padding: .2em 0;
    border: solid rgba(128, 128, 128, .3);
    border-width: 1px 0;
}

.channel-id-edit-label.edit-label {
    width: 14.4em;
    text-align: center;
}

.channel-id-edit-label>.input-field {
    float: right;
}

.channel-id-edit-label>img {
    height: 1.4em;
}

.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip>.tooltip-content {
    position: absolute;
    display: none;
    top: 1px;
    left: calc(100% + 5px);
    z-index: 999;
    border-radius: 5px;
    padding: 5px;
    word-break: break-word;
    text-align: left;
    color: #eee;
    background-color: rgba(0, 0, 0, .75);
    font-size: .8em;
    font-weight: normal;
    line-height: 1.4em;
    width: 26em;
}

.tooltip:hover>.tooltip-content {
    display: inline-block;
}

.tooltip>.tooltip-content:hover {
    display: none;
}

.tooltip>.tooltip-content:after {
    content: attr(alt);
}

.tooltip>.tooltip-content:before {
    content: '';
    width: 0px;
    height: 0px;
    top: .5em;
    left: -5px;
    border-color: transparent rgba(0, 0, 0, .75);
    border-style: solid;
    border-width: 5px 5px 5px 0;
    position: absolute;
}

.id-button {
    line-height: 1em;
}

.id-button>i {
    font-size: 1.2em;
    font-weight: bold;
    line-height: .8em;
}

.id-button.tooltip>.tooltip-content {
    width: 16em;
}

#edit-area #youtube-title-edit-label.sub-label {
    display: inline-block;
    margin-left: 1em;
    width: 12em;
    height: 1.6em;
}

#youtube-title {
    float: right;
}

#youtube-title-edit-label>.tooltip-content {
    width: 18em;
}

.edit-label {
    width: 8em;
    display: inline-block;
    height: 1.6em;
}

#edit-area input[type='text'] {
    width: 12em;
    height: 1.1em;
}

#edit-area input[type='number'] {
    width: 5em;
    height: 1.1em;
}

#edit-area select {
    height: 1.4em;
}

fieldset {
    border: 1px solid rgba(0, 0, 0, .5);
}

legend {
    font-weight: bold;
}


/*
	tabs
*/

.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.tabs>li {
    float: left;
    display: block;
}

.tabs>li>input[type='radio'] {
    display: none;
}

.tabs>li>label {
    display: inline !important;
    position: relative;
    width: 100% !important;
    background-color: rgba(255, 255, 255, .6);
    color: rgba(0, 0, 0, .5);
    padding: 1px 10px;
    margin-right: 4px;
}

.tabs>li>input[type='radio']:checked+label {
    color: #000;
    font-weight: bold;
}

.tabs>li>input[type='radio']:checked+label,
#counter-edit-area {
    background-color: #ffe066;
}


/*
	toggle button
*/

.toggle-button {
    display: none;
}

.toggle-button-label {
    display: inline-block;
    position: relative;
    width: 2em;
    padding: .2em 0;
    margin-top: .2em;
    vertical-align: middle;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 12px;
    color: #000;
    background-color: #eee;
    border: 1px solid;
    border-color: #fff #bbb #888 #fff;
    box-shadow: 0 -10px 20px -5px #ccc inset;
}

.toggle-button:checked+.toggle-button-label {
    border-color: #888 #fff #fff #bbb;
    box-shadow: 0 20px 20px -10px #ccc inset;
    top: 1px;
}

.font-style-group {
    font-size: 0;
    margin-right: 10px;
}


/*
	range
*/

.range-input {
    width: 100px;
}

.range-output {
    display: inline-block;
    vertical-align: initial !important;
}

.font-select {
    margin-right: .3em;
}

.custom-button {
    display: inline-block;
    border-radius: .4em;
    border: 2px solid;
    width: 1.3em;
    height: 1.3em;
    line-height: 1.3em;
    color: #fff;
    background-color: #6c0;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    vertical-align: bottom !important;
}


/*
	font-tips
*/

.font-tips>i {
    font-size: 1.3em;
}

.font-tips>.tooltip-content {
    width: 12em;
}

.custom-font-label>.tooltip-content {
    width: 20em;
}


/*
	font-clipboard
*/

.font-clipboard>i {
    font-size: 1.1em;
}

.font-clipboard>.tooltip-content {
    width: 10em;
}


/*
	copy msg
*/

.copied-msg {
    transform: translate(-100%, -120%);
    position: absolute;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 3s linear forwards;
}

@-webkit-keyframes fadeinout {
    0% {
        opacity: 0;
        margin-left: 0px;
    }
    10%,
    90% {
        opacity: 1;
        margin-left: 5px;
    }
    100% {
        opacity: 0;
        margin-left: 10px;
    }
}

@keyframes fadeinout {
    0% {
        opacity: 0;
        margin-left: 0px;
    }
    10%,
    90% {
        opacity: 1;
        margin-left: 5px;
    }
    100% {
        opacity: 0;
        margin-left: 10px;
    }
}


/*
	about
*/

#about-checkbox {
    display: none;
}

#about-div {
    display: inline-block;
    margin-left: 1.5em;
    box-shadow: 1px 1px 4px 2px;
    padding: 0px 5px;
    border-radius: 5px;
    font-weight: bold;
}

#about-div-arrow {
    writing-mode: vertical-lr;
    width: 1.1em;
}

#about-content-wrapper {
    display: none;
    position: relative;
}

#about-content-div {
    display: inline-block;
    position: absolute;
    bottom: 24px;
    right: 0px;
    border: 2px solid;
    border-radius: .4em;
    width: 400px;
    background-color: rgba(100, 200, 0, .9);
    color: #fff;
    box-shadow: 1px 1px 5px 0;
    text-align: center;
    padding: 5px;
}

#about-content-title {
    font-size: 1.4em;
    font-weight: bold;
}

#about-content-div a {
    vertical-align: initial;
}

#about-checkbox:checked~#about-content-wrapper {
    display: inline;
}

#about-checkbox:checked+#about-div {
    box-shadow: 0 0 1px 2px;
}

#special-thanks {
    color: #ff5;
}


/*

*/

#edit-area input[type='color'] {
    height: 1.4em;
}

#edit-area input[type='checkbox'] {
    margin-right: 5px;
}

#edit-area .sub-label {
    width: initial;
    margin-right: 10px;
    height: 1.8em;
    line-height: 1.8em;
}

#generated-url-wrapper {
    width: 20em;
    height: 1.4em;
    position: relative;
    display: inline-block;
}

#generated-url {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    resize: none;
    word-break: break-all;
    position: absolute;
    display: inline-block;
    z-index: 999;
    font-family: inherit;
    font-size: 12px;
    color: inherit;
}

#generated-url:hover {
    height: 5em;
}

#recommended-dimensions-label {
    margin-left: 1.5em;
}

#recommended-dimensions-label input[type='text'] {
    width: 3em;
}

#preview-message {
    font-size: .8em;
    color: #00f;
}

.divider {
    border-top: 1px solid rgba(128, 128, 128, .3);
}

#display-area {
    position: relative;
    font-size: 32px;
    margin: 0px;
    min-width: 9999px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    /*	text-shadow:
		0 0 5px #000,
		2px 0 0 #000,
		-2px 0 0 #000,
		0 2px 0 #000,
		0 -2px 0 #000,
		1px 1px #000,
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000;
*/
}

.counter-div {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    font-size: 0;
}

.counter-group-div {
    line-height: 0;
    font-size: 0;
    position: absolute;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    height: 1em;
}

.icon.like {
    margin-right: 5px;
}

.counter {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px;
}

.counter-title {
    display: inline-block;
    vertical-align: middle;
}

.counter-total {
    font-size: 1em;
    margin: 0;
}

.counter-individual-div {
    display: inline-block;
}

svg {
    height: 0;
    width: 0;
    stroke-linejoin: round;
    stroke-linecap: round;
    vertical-align: middle;
}

text {
    dominant-baseline: text-before-edge;
}

.stroke {
    fill: transparent;
}

.fill {
    stroke: transparent;
    stroke-width: 0;
}

.hide {
    display: none;
}

.separator {
    display: block;
    height: .5em;
}

#viewer-counter-div {
    left: 0px;
    top: 0px;
}

#follower-counter-div {
    left: 800px;
    top: 0px;
}